.kontinenti {
    margin-top: 20px;
}

#search-continents .container{
    margin-top:60px;
}

#search-continents{
    width:100%;
    height: 100vh;
    background: #f6f9fa;;
}

.search-continents .content h2 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #052c3f;
}

.search-continents .content h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    color: #4d8090;
}


.kontinent {
    width: 60%;
    display: block;
    align-content: center;
    margin: 10px auto 10px auto;
    background: #85b0be;
    font-family: "Raleway", sans-serif;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid #85b0be;

    text-align: center;
}

.kontinent a {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}
