
.lokacija {
    position: relative;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.lokacija:before {
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.lokacija .lokacija-img {
    position: relative;
    transition: .5s;
    vertical-align: center;
    width: 100%;
}

.lokacija .lokacija-img img {
    width: 100%;
    border: 4px solid #85b0be;
    position: relative;
    vertical-align: center;
    height: 300px;
}

.lokacija .lokacija-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 1;
    content: '';
    border-left: 5px solid #85b0be;
    border-top: 5px solid #85b0be;
    transition: .5s;
}

.lokacija .lokacija-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: '';
    border-right: 5px solid #85b0be;
    border-bottom: 5px solid #85b0be;
    transition: .5s;
}

.lokacija .lokacija-img:hover {
    transform: scale(1.03);
}

.lokacija .lokacija-img:hover::before {
    left: 10px;
    top: 10px;
}

.lokacija .lokacija-img:hover::after {
    right: 10px;
    bottom: 10px;
}

.lokacija .naslov-i-ocjena {
    display: flex;
    margin-bottom: 10px;
}

.naslov {
    float: left;
    text-align: center;
    vertical-align: center;
}


.kont2 a {
    float: left;
    width: 40%;
    transition: 0.5s;
}

.ocjena {
    width: 100%;
}

.lokacija h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #85b0be;
    font-family: "Raleway", sans-serif;
    text-align: center;
}


.lokacija .content p:last-child {
    margin-bottom: 0;
}

.lokacija .container {
    margin-top: 0px;
}

.lokacija .kont2 p {
    width: 100%;
    height: 300px;
    background: rgba(252, 252, 252, 0.95);
    padding: 25px 25px 25px 25px;
    opacity: 80%;
    font-family: "Raleway", sans-serif;
    border: 5px solid #85b0be;
    overflow: hidden;
    font-size: 16px;
}


.kont1 {
    position: relative;
}

.lokacija .kont1 .btn-location {
    left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.lokacija .kont1 .btn-get-started {
    width: 45%;
    margin: 0px 10px 10px 10px;
}

