.forma {
    width: 35%;
    margin-top: 60px;
}

.login-forma{
    margin-top:40px;
}

.helptext {
    display: none;
}

#register{
      color: #96bbc7;
    text-decoration: none;
}

#login a{
    color: white;
}

.help{
    text-align: left;
    color: #85b0be
}

.forma label{
    margin-top: 0;
}

#login-submit{
    margin-top: 10px;
}



