
body {

    font-family: "Raleway", sans-serif;
    color: #444444;
}

#register a {
    margin-left: 10px;
    text-align: center;
    display: inline-block;
    padding: 7px 15px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid #85b0be;
    color: #fff;
}

#register a:hover {
    background: #85b0be;
    border: 2px solid #85b0be;
}

a {
    color: #85b0be;
}

a:hover {
    color: #a6c6d0;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
}

.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #85b0be;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i:hover {
    background: #6a9fb0;
    color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    z-index: 997;
    transition: all 0.5s;
    background: #052c3f;
    padding: 20px 0;
}

#header.header-transparent {
    background: none;
}

#header.header-scrolled {
    background: rgba(5, 44, 63, 0.8);
    padding: 12px 0;
}

#header .logo img {
    padding: 0;
    margin: 0;
    width: 250px;
    height: 50px;
}

.logo {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 0 10px 25px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #96bbc7;
    text-decoration: none;
}

.nav-menu .drop-down ul {
    display: block;
    position: absolute;
    left: 25px;
    top: calc(100% - 30px);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.nav-menu .drop-down li {
    min-width: 180px;
    position: relative;
}

.nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #3b626f;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #85b0be;
}

.nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
}

.nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
}

@media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
        left: -90%;
    }

    .nav-menu .drop-down .drop-down:hover > ul {
        left: -100%;
    }

    .nav-menu .drop-down .drop-down > a:after {
        content: "\ea9d";
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/be-travel-aware.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    background: rgba(5, 44, 63, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .slogan{
    margin-top:0;
    color: white;
    margin-left:210px;
    letter-spacing: 3px;
    font-style: italic;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#hero h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}

.btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid #85b0be;
    color: #fff;
}

.btn-get-started:hover {
    background: #85b0be;
    border: 2px solid #85b0be;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 80px 0;
}

.section-bg {
    background-color: #f6f9fa;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #052c3f;
}

.section-title p {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

#services {
    width: 100%;
    height: 100vh;
}

.services {
    padding-bottom: 40px;
}

.services .icon-box {
    margin-bottom: 40px;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    transition: 0.5s;
    border: 2px solid #85b0be;
}

.services .icon i {
    color: #649aac;
    font-size: 24px;
}

.services .title {
    margin-left: 90px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #052c3f;
    transition: 0.3s;
}

.services .description {
    margin-left: 90px;
    line-height: 24px;
    font-size: 14px;
}

.services .icon-box:hover .icon {
    background: #85b0be;
}

.services .icon-box:hover .icon i {
    color: #fff;
}

.services .icon-box:hover .title a {
    color: #85b0be;
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-wrap {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background: #fff;
}

.contact .info i {
    font-size: 20px;
    color: #85b0be;
    float: left;
    width: 44px;
    height: 44px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #052c3f;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #0d6e9e;
}

.contact .info:hover i {
    background: #85b0be;
    color: #fff;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.bread-crumbs {
    margin-bottom: 30px;
    background: none;
    color: white;
    position: relative;
}

.bread-crumbs a {
    color: #96bbc7;
}

.bread-crumbs .bread {
    color: white;
    margin: 10px;
}

.bread-crumbs a:hover {
    color: #96bbc7;
    cursor: pointer;
}

.bread-crumbs p{
    display: inline-block;
    margin-bottom: 40px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #0d6e9e;
    width: 100%;
    height: 50vh;
    color: #fff;
    font-size: 14px;
    position: relative;
}

#footer .logo-info {
    margin-left: 0;
    float: left;
}

#footer .logo img {
    width: 400px;
    height: 80px;
}

#footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(1, 11, 16, 0.6);
    z-index: 1;
}

#footer .footer-top {
    position: relative;
    z-index: 2;
    padding-top: 30px;
    display: flex;
}

.podrska {
    float: left;
    line-height: 2;
}

.footer-top h5 {
    letter-spacing: 1px;
}

#footer .footer-top h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Raleway", sans-serif;
    padding-bottom: 0;
    margin-bottom: 0;
}

#footer .footer-top p {
    font-size: 15px;
    font-style: italic;
    margin: 30px 0 0 0;
    padding: 0;
    width: 400px;
}

#footer .podrska {
    margin-left: 150px;
    margin-top: 20px;
}

#footer ul {
    padding: 0;
    list-style: none;
}


#footer .footer-top .social-links {
    margin-top: 30px;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #85b0be;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #649aac;
    color: #fff;
    text-decoration: none;
}

#footer .footer-bottom {
    margin-top: 40px;
    z-index: 2;
    position: relative;
    padding-bottom: 40px;
    text-align: center;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
}


#map {
    margin: 0;
    padding: 0;
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}


.howitworks {
    background-image: url('../img/howitworks.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
}


.howitworks > .container {
    align-items: center;
    margin-top: 100px;
    position: relative;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .howitworks {
        padding-top: 100px;
        padding-bottom: 80px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .howitworks {
        padding-top: 70px;
        padding-bottom: 20px
    }
}

@media (max-width: 575px) {
    .howitworks {
        padding-top: 70px;
        padding-bottom: 20px
    }
}

.howitworks .single-services .services-icon {
    margin-bottom: 50px;
    width: 67px;
    height: 67px;
    background: #fff;
    line-height: 67px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    position: relative
}

.howitworks .single-services .services-icon::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 90px;
    height: 90px;
    background: transparent;
    border-radius: 50%;
    transition: .5s;
    border: 2px dashed #31ff7a;
    box-sizing: border-box;
    animation: animate 10s linear infinite
}

@keyframes animate {
    0% {
        transform: scale(1) rotate(0deg)
    }
    100% {
        transform: scale(1) rotate(360deg)
    }
}

.howitworks .single-services .services-icon span {
    color: #eb566c;
    font-size: 38px;
    padding-top: 3px;
    display: block
}

.howitworks .single-services .services-cap h5 > a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 21px;
    display: block;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .howitworks .single-services .services-cap h5 > a {
        font-size: 29px
    }
}

.howitworks .single-services .services-cap p {
    margin-bottom: 0px;
    color: #bcbdca;
    font-size: 16px
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .howitworks .single-services .services-cap p {
        font-size: 15px
    }
}

.single-services {
    position: relative
}

.single-services .shape1 {
    position: absolute;
    right: -61%;
    top: 40px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .shape1 {
        right: -75%;
        top: 40px
    }
}

.single-services .shape2 {
    position: absolute;
    right: -61%;
    top: 40px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-services .shape2 {
        right: -80%;
        top: 40px
    }
}


.howitworks h1 {
    margin: 0 0 15px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

.howitworks h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}


.contact .php-email-form {
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
    background: #fff;
    margin-top: 20px;
}

.contact .php-email-form .form-group {
    padding-bottom: 5px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}


.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #85b0be;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: #85b0be;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #6a9fb0;
}