{% extends 'header3.html' %}

{% block content %}
    {% load static %}
    <link href="{% static 'css/drzave.css' %}" rel="stylesheet">
    <section id="drzave">
        <div class="drzave-div">
            <div class="cont">
                {% for drzava in drzave %}
                    <div class="drzava">
                        <div class="drzava-slika">
                            <img src={{ drzava.slika.url }} alt="">
                        </div>
                        <div class="drzava-detalji">
                            <p>{{ drzava.naziv }}</p>
                            <a href="{% url 'lokacije' nazivDrzave=drzava.naziv %}" class="location-btn">{{ drzava.brojLokacija }}<i class="ti-plus"></i> Lokacija</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}