{% extends 'header1.html' %}

{% block content %}
    {% load static %}
    <!-- ======= Hero Section ======= -->
    <link href="{% static 'css/search.css' %}" rel="stylesheet">
    <link href="{% static 'css/kontinenti.css' %}" rel="stylesheet">
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'css/homepage_top_locations.css' %}" rel="stylesheet">

    <section id="hero">
      <h2 class="slogan">Istražujmo svijet</h2>
        <div class="hero-container">

            <h1>Želiš putovati?</h1>
            <h2>Mi smo tim koji će ti pomoći da odabereš svoju željenu destinaciju !</h2>
            <div class="search">
                <form action="#" class="search-box">
                    <div class="input-form">
                        <input type="text" placeholder="Koja je tvoja lokacija iz snova?">
                    </div>
                    <div class="search-form">
                        <a href="#">Pretraži</a>
                    </div>
                </form>
            </div>
            <div class="btn-search">
                <a href="#search-continents" class="btn-get-started scrollto">Pretraži uz našu pomoć</a>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Search continents Section ======= -->
        <section id="search-continents" class="search-continents">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-6">
                        <h2>Odaberi kontinent koji želiš posjetiti</h2>
                        <h3>Svaki od kontinenata ima prekrasne lokacije za posjetiti. Te destinacije čekaju tebe da
                            uživaš
                            istraživajući ih.</h3>
                        <h3>Ne možeš pogriješiti u svom odabiru, ali mi smo tu da ti olakšamo pretragu!</h3>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 kontinenti">
                        {% for kontinent in kontinenti %}
                            <div class="kontinent">
                                <a href="{% url 'drzave' nazivKontinenta=kontinent.naziv %}">{{ kontinent.naziv }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </section>

        <!-- TOP LOKACIJE -->
        <section id="top_lokacije" class="top_lokacije">
            <div class="container">

                <div class="section-title">
                    <h2>Top 8 popularnih lokacija</h2>
                </div>

                <div class="lokacije-div">
                    {% for lokacija in top_lokacije %}
                        <div class="lokacija">
                            <div class="lokacija-slika">
                                <img src={{ lokacija.podaci.glavna_slika.url }} alt="">
                            </div>
                            <div class="lokacija-detalji">
                                <p>{{ lokacija.podaci.naziv }}, {{ lokacija.podaci.grad }}</p>
                                <a href="{% url 'lokacija' nazivLokacije=lokacija.podaci.naziv %}" class="location-btn"><i
                                        class="ti-plus"></i>{{ lokacija.total }} recenzija</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- End TOP LOKACIJE -->

        <section id="howitworks" class="howitworks">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-title">
                            <h1>Istražuj jednostavno</h1>
                            <h2>Kako sve funkcioniše?</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">1. Odaberi kontinent</a></h5>
                                <p>Od 7 kontinenata, odaberi onaj o kojem već dugo razmišljaš. To možeš uraditi <a
                                        href="#search-continents">ovako</a>.</p>
                            </div>
                            <!-- Shpape -->
                            <img class="shape1 d-none d-lg-block" src="{% static 'img/serices1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-problem"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">2. Pregledaj listu država</a></h5>
                                <p>Nakon odabira kontinenta, slikovito možeš vidjeti svaku državu koja se u njemu
                                    nalazi, a potom odabrati onu koja te najviše privlači.</p>
                            </div>
                            <img class="shape2 d-none d-lg-block" src="{% static 'img/serices2.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-respect"></span>
                            </div>
                            <div class="services-cap">

                                <h5><a href="#">3. Istražuj popularne destinacije</a></h5>
                                <p>Sada uživaj u pretragi svoje odabrane kategorije koja sadrži mnoštvo lokacija za
                                    tebe!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Usluge</h2>
                    <p></p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-computer"></i></div>
                        <h4 class="title"><a href="#hero">Pretraživanje lokacije unosom naziva</a></h4>
                        <p class="description">Unesi naziv svoje željene destinacije u search-bar i doći ćeš do
                            informacija o njoj.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-tasks-alt"></i></div>
                        <h4 class="title"><a href="">Dodavanje nove lokacije</a></h4>
                        <p class="description">Ukoliko lokacija koju si posjetio ne postoji u našem sistemu, možeš nam
                            <a href="#contact">poslati email</a> i naš tim će dodati lokaciju ukoliko je validna.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-settings"></i></div>
                        <h4 class="title"><a href="">Ocjenjivanje lokacije i recenzije</a></h4>
                        <p class="description">Možeš vidjeti ocjene i komentare drugih o nekoj lokaciji, kao i dodati
                            svoj komentar i ocjenu o lokaciji koju si posjetio.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-earth"></i></div>
                        <h4 class="title"><a href="#search-continents">Istraživanje destinacija uz našu pomoć</a></h4>
                        <p class="description">Odaberi kontinent, potom državu, i došao si do nekoliko destinacija od
                            kojih jedna može postati tvoja destinacija iz snova.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                        <h4 class="title"><a href="">Pregled najpopularnijih lokacija</a></h4>
                        <p class="description">U svakom trenutku, na našoj stranici možeš vidjeti trenutnih 10 top
                            lokacija ocijenjenih
                            od strane korisnika naše stranice.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 icon-box">
                        <div class="icon"><i class="icofont-image "></i></div>
                        <h4 class="title"><a href="">Pregled lokacije</a></h4>
                        <p class="description">Pregledaj sve informacije o lokaciji, razne zanimljivosti, galeriju
                            slika, mapu lokacije, sve na jednom mjestu.</p>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Kontakti</h2>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10">

                        <div class="info-wrap">
                            <div class="row">
                                <div class="col-lg-4 info">
                                    <i class="icofont-google-map"></i>
                                    <h4>Lokacija:</h4>
                                    <p>Sarajevo</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="icofont-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>bsuljic1@etf.unsa.ba</p>
                                </div>

                                <div class="col-lg-4 info mt-4 mt-lg-0">
                                    <i class="icofont-phone"></i>
                                    <h4>Broj telefona:</h4>
                                    <p>+387 61 902 671</p>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="col-lg-10">
                        <form action="" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Ime i prezime" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Tvoj email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                    <textarea class="form-control" name="message" rows="5" placeholder="Poruka"
                                              required></textarea>
                            </div>

                            <div class="text-center">
                                <button type="submit">Pošalji poruku</button>
                            </div>
                        </form>
                    </div>


                </div>


            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

{% endblock %}

