{% extends 'header1.html' %}

{% block content %}
    {% load static %}
    <link href="{% static 'css/login-style.css' %}" rel="stylesheet">
    <section id="hero">
    <div class="hero-container">
        <div class="forma">
            <h1>Prijavi se</h1>
            <form class="login-forma" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input id="login-submit" type="submit" value="Login">
            </form>
        </div>
    </div>
</section>
{% endblock %}