{% extends 'base_layout.html' %}

{% block content %}
    {% load static %}

    <section id="about" class="about" style="background-image: url({{ lokacija.glavna_slika.url }})">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">

                    <h1>{{ lokacija.naziv }}, {{ lokacija.grad }}</h1>
                    <div class="about-img">
                        <img src={{ lokacija.glavna_slika.url }} alt="">
                    </div>

                </div>
                <div class="col-lg-6 order-2 content kont">
                    <p>
                        {{ lokacija.opis }}
                    </p>
                    <div class="btn-location">
                        <a href="#gallery" class="btn-get-started scrollto">Galerija slika</a>
                        <a href="#map" class="btn-get-started scrollto">Vidi lokaciju</a>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <section id="gallery" class="gallery">


        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row g-0">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika1.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika2.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika3.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika4.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika5.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika6.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika7.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika7.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika8.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika8.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Gallery Section -->

    <section id="map" class="map">
        <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
    </section>

{% endblock %}