{% extends 'header1.html' %}

{% block content %}
    {% load static %}
    <link href="{% static 'css/drzave.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <section id="drzave">
        <div class="drzave-div">
            <div class="cont">
            <div class="bread-crumbs">
                <a href="{% url 'drzave' nazivKontinenta=kontinent %}">{{ kontinent }}</a>
                <i class="fa fa-caret-right bread"></i>
                <a href="{% url 'lokacije' nazivDrzave=drzava %}">{{ drzava }}</a>
            </div>
                {% for lokacija in lokacije %}
                    <div class="drzava">
                        <div class="drzava-slika">
                            <img src={{ lokacija.glavna_slika.url }} alt="">
                        </div>
                        <div class="drzava-detalji">
                            <p>{{ lokacija.naziv }}, {{ lokacija.grad }}</p>
                            <a href="{% url 'lokacija' nazivLokacije=lokacija.naziv %}" class="location-btn"><i class="ti-plus"></i>Više detalja</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- More Btn -->
            <div class="row justify-content-center">
                <div class="room-btn pt-20">
                    <a href="catagori.html" class="btn view-btn1">View All Places</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}