{% extends 'header2.html' %}

{% block content %}
    {% load static %}

    <link href="{% static 'css/lokacija.css' %}" rel="stylesheet">
    <link href="{% static 'css/galerija.css' %}" rel="stylesheet">
    <link href="{% static 'css/rating.css' %}" rel="stylesheet">
    <link href="{% static 'css/reviews.css' %}" rel="stylesheet">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>


    <section id="lokacija" class="lokacija" style="background-image: url({{ lokacija.glavna_slika.url }})">

        <div class="container" data-aos="fade-up">

            <div class="bread-crumbs">
                <a href="{% url 'drzave' nazivKontinenta=kontinent %}">{{ kontinent }}</a>
                <i class="fa fa-caret-right bread"></i>
                <a href="{% url 'lokacije' nazivDrzave=drzava %}">{{ drzava }}</a>
                <i class="fa fa-caret-right bread"></i>
                <a href="">{{ lokacija.naziv }}</a>
            </div>

            <div class="row">
                <div class="col-lg-6 order-1 kont1" data-aos="zoom-in" data-aos-delay="100">
                    <div class="lokacija-img">
                        <img src={{ lokacija.glavna_slika.url }} alt="">
                    </div>
                    <div class="btn-location">
                        <a href="#gallery" class="btn-get-started scrollto">Galerija slika</a>
                        <a href="#map" class="btn-get-started scrollto">Vidi lokaciju</a>
                        <a href="#rating" class="btn-get-started scrollto">Ocijeni</a>
                        <a href="#rating" class="btn-get-started scrollto">Dodaj recenziju</a>
                    </div>

                </div>
                <div class="col-lg-6 order-2 content kont2">
                    <div class="naslov-i-ocjena">
                        <div class="naslov">
                            <h1>{{ lokacija.naziv }}, {{ lokacija.grad }}</h1>
                        </div>
                        <a href="#rating">
                            <div class="ocjena">
                                <div class="content text-center">
                                    <div class="ratings">
                                        <span class="location-rating">{{ ocjena|floatformat:2 }}</span><span>/5</span>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="rating-text">
                                            {% if brojOcjena|get_digit:1 == 2 or brojOcjena|get_digit:1 == 3 or brojOcjena|get_digit:1 == 4 %}
                                                <span>{{ brojOcjena }} ocjene</span>
                                            {% else %}
                                                <span>{{ brojOcjena }} ocjena</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <p>
                        {{ lokacija.opis }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="gallery" class="gallery">
        <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
            <div class="row g-0">
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika1.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika2.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika3.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika4.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika5.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika6.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika7.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika7.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{{ lokacija.slika8.url }}" class="gallery-lightbox" data-gall="gallery-item">
                            <img src="{{ lokacija.slika8.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="rating">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="ocjene" data-aos="zoom-in" data-aos-delay="100">
                    <div class="ocjena">
                        <div class="card">
                            <div class="row justify-content-left">
                                <div class="col-md-4 lijevo">
                                    <div class="rating-box">
                                        <h1>{{ ocjena|floatformat:2 }}/5</h1>
                                        <div class="rating-text">
                                            {% if brojOcjena|get_digit:1 == 2 or brojOcjena|get_digit:1 == 3 or brojOcjena|get_digit:1 == 4 %}
                                                <span>{{ brojOcjena }} ocjene</span>
                                            {% else %}
                                                <span>{{ brojOcjena }} ocjena</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if ocjena >= 1 and ocjena < 2 %}
                                        <div class="stars">
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                        </div>
                                    {% elif ocjena >= 2 and ocjena < 3 %}
                                        <div class="stars">
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                        </div>
                                    {% elif ocjena >= 3 and ocjena < 4 %}
                                        <div class="stars">
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                        </div>
                                    {% elif ocjena >= 4 and ocjena < 5 %}
                                        <div class="stars">
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                        </div>
                                    {% elif ocjena == 5 %}
                                        <div class="stars">
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                            <span class="fa fa-star star-active mx-1"></span>
                                        </div>
                                    {% else %}
                                        <div class="stars">
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                            <span class="fa fa-star star-inactive mx-1"></span>
                                        </div>
                                    {% endif %}


                                </div>
                                <div class="col-md-8 desno">
                                    <div class="rating-bar0 justify-content-center">
                                        <table class="text-left mx-auto">
                                            <tr>
                                                <td class="rating-label">
                                                    Izvanredno
                                                </td>
                                                <td class="rating-bar">
                                                    <div class="bar-container">
                                                        <div class="bar-5"
                                                             style="width: {{ ocjena5_bar }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ ocjena5 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="rating-label">
                                                    Jako dobro
                                                </td>
                                                <td class="rating-bar">
                                                    <div class="bar-container">
                                                        <div class="bar-4"
                                                             style="width: {{ ocjena4_bar }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ ocjena4 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="rating-label">
                                                    Prosječno
                                                </td>
                                                <td class="rating-bar">
                                                    <div class="bar-container">
                                                        <div class="bar-3"
                                                             style="width: {{ ocjena3_bar }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ ocjena3 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="rating-label">
                                                    Loše
                                                </td>
                                                <td class="rating-bar">
                                                    <div class="bar-container">
                                                        <div class="bar-2"
                                                             style="width: {{ ocjena2_bar }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ ocjena2 }}</td>
                                            </tr>
                                            <tr>
                                                <td class="rating-label">
                                                    Užasno
                                                </td>
                                                <td class="rating-bar">
                                                    <div class="bar-container">
                                                        <div class="bar-1"
                                                             style="width: {{ ocjena1_bar }}%"></div>
                                                    </div>
                                                </td>
                                                <td class="text-right">{{ ocjena1 }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="modal-content">
                    <div class="card-body text-center">
                        <div class="comment-box text-center">
                            <h4>Ocijeni i ti</h4>
                            <form action="{% url 'lokacija' nazivLokacije=lokacija.naziv %}" method="POST">
                                {% csrf_token %}
                                <div class="rating"><input type="radio" name="rating" value="5" id="5"><label
                                        for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label
                                        for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label
                                        for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label
                                        for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label
                                        for="1">☆</label></div>
                                <div class="comment-area"><textarea name="review" class="form-control"
                                                                    placeholder="Koja je tvoja recenzija za ovu lokaciju?"
                                                                    rows="4"></textarea></div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-success send px-5">Spremi recenziju <i
                                            class="fa fa-long-arrow-right ml-1"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="reviews" class="reviews">
        <div class="naslov">
            <h2>Još uvijek nisi siguran za ovu lokaciju?</h2>
            <h1>Pročitaj recenzije korisnika!</h1>
        </div>
        <div class="recenzije">
            {% if recenzije.has_previous %}
                <a class="lijevo"
                   href="{% url 'lokacija' nazivLokacije=lokacija.naziv %}?page={{ recenzije.previous_page_number }} #reviews"
                   role="button" data-slide="prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
            {% endif %}
            {% for recenzija in recenzije %}
                <div class="recenzija">
                    <div class="card">
                        <div class="row d-flex">
                            <div class="profile=pic"><i class="fa fa-user-circle" id="pic"></i></div>
                            <div class="d-flex flex-column">
                                <h3 class="mt-2 mb-0">{{ recenzija.korisnik.username }}</h3>
                                <div>
                                    <p class="text-left">
                                        <span class="text-muted">{{ recenzija.ocjena }}.0</span>
                                        {% if recenzija.ocjena == 1 %}
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                        {% elif recenzija.ocjenana == 2 %}
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                        {% elif recenzija.ocjena == 3 %}
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                        {% elif recenzija.ocjena == 4 %}
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-inactive"></span>
                                        {% else %}
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                            <span class="fa fa-star star-active"></span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-left tekst">
                            <p class="content">{{ recenzija.tekst }}</p>
                        </div>
                        <div class="dolje">
                            <div class="likes">
                                <div class="like mr-3 vote">
                                    <img src="https://i.imgur.com/mHSQOaX.png">
                                    <span class="blue-text pl-2">20</span>
                                </div>
                                <div class="unlike vote">
                                    <img src="https://i.imgur.com/bFBO3J7.png">
                                    <span class="text-muted pl-2">4</span>
                                </div>
                            </div>
                            <div class="datum">
                                <p class="text-muted pt-5 pt-sm-1 datum">{{ recenzija.datum }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if recenzije.has_next %}
                <a class="desno"
                   href="{% url 'lokacija' nazivLokacije=lokacija.naziv %}?page={{ recenzije.next_page_number }} #reviews"
                   role="button" data-slide="next">
                    <i class="fa fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
    </section>


    <section id="map" class="map">
        <iframe style="border:0; width: 100%; height: 350px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
    </section>


    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
{% endblock %}