{% extends 'header1.html' %}

{% block content %}

    {% load static %}

    <link href="{% static 'css/login-style.css' %}" rel="stylesheet">
    <link href="{% static 'css/signup-style.css' %}" rel="stylesheet">

    <section id="hero">
        <div class="hero-container">
            <div class="forma">
                <h1>Registruj se</h1>
                <form class="login-forma" action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="help">
                        <p>Password mora sadržavati bar 8 karaktera i ne može biti previše sličan tvom username-u.</p>
                    </div>
                    <input id="login-submit" type="submit" value="Registruj se">
                </form>
            </div>
        </div>
    </section>

{% endblock %}